In [32]:
import pandas as pd 
import matplotlib.pyplot as plt 
import scipy.stats as st 
import numpy as np 
import os
from pathlib import Path
import ipywidgets as widgets
from IPython.display import display

In [3]:
income = pd.read_csv('Resources/data/income.csv')
income['STATE'] = income['STATE'].str.lower()
columns_to_clean = [' 1 EARNER', ' 2 PEOPLE', ' 3 PEOPLE', ' 4 PEOPLE *']
income[columns_to_clean] = income[columns_to_clean].replace('[\$,]', '', regex=True)
income.head()

        STATE  1 EARNER  2 PEOPLE  3 PEOPLE  4 PEOPLE *
0     alabama     56598     67953     77419       94659
1      alaska     76191     89932    113035      121062
2     arizona     64172     80249     90193      104143
3    arkansas     51164     63835     74475       86039
4  california     75235     93175    104785      122707

In [8]:
# Convert the cleaned columns to numeric
income[columns_to_clean] = income[columns_to_clean].astype(float)

# Sort the DataFrame by the specified column in descending order and select the top 5
top_5_states = income.sort_values(by=' 4 PEOPLE *', ascending=False).head(5)

# Display the top 5 states
print("Top 5 states with the highest numbers for '4 PEOPLE *':")
print(top_5_states[['STATE', ' 4 PEOPLE *']])

Top 5 states with the highest numbers for '4 PEOPLE *':
            STATE   4 PEOPLE *
20  massachusetts     162422.0
29     new jersey     155510.0
19       maryland     151613.0
28  new hampshire     151546.0
6     connecticut     142596.0

In [13]:
# Convert the cleaned columns to numeric
income[columns_to_clean] = income[columns_to_clean].astype(float)

# Sort the DataFrame by the specified column in ascending order and select the bottom 5
bottom_5_states = income.sort_values(by=' 4 PEOPLE *', ascending=True).head(5)

# Display the bottom 5 states
print("Bottom 5 states with the lowest numbers for '4 PEOPLE *':")
print(bottom_5_states[['STATE', ' 4 PEOPLE *']])

Bottom 5 states with the lowest numbers for '4 PEOPLE *':
            STATE   4 PEOPLE *
30     new mexico      82110.0
3        arkansas      86039.0
23    mississippi      86573.0
35       oklahoma      90043.0
47  west virginia      90258.0

In [4]:
cities = pd.read_csv('Resources/data/cities.csv')
db_path = "Resources\project3.sqlite"
print(cities.head())

               Region Acronyms      Price          State
0  Vineyard Haven, MA       MA  2366667.0  Massachusetts
1         Edwards, CO       CO  1978833.0       Colorado
2          Hailey, ID       ID  1545000.0          Idaho
3         Jackson, WY       WY  1496333.0        Wyoming
4     Santa Maria, CA       CA  1451750.0     California

In [17]:
df = pd.read_csv('Resources/data/cities.csv')
# Print the column names to verify
print("Column names:", df.columns)

# Sort the DataFrame by 'Price' in descending order and select the top 5 highest prices
top_highest_prices = df.sort_values(by='Price', ascending=False).head(5)

# Display the top highest prices
print("Top 5 highest prices:")
print(top_highest_prices[['Region', 'State', 'Price']])

Column names: Index(['Region', 'Acronyms', 'Price', 'State'], dtype='object')
Top 5 highest prices:
               Region          State      Price
0  Vineyard Haven, MA  Massachusetts  2366667.0
1         Edwards, CO       Colorado  1978833.0
2          Hailey, ID          Idaho  1545000.0
3         Jackson, WY        Wyoming  1496333.0
4     Santa Maria, CA     California  1451750.0

In [18]:
df = pd.read_csv('Resources/data/cities.csv')

# Sort the DataFrame by 'Price' in ascending order and select the bottom 5 (lowest) prices
lowest_prices = df.sort_values(by='Price', ascending=True).head(5)

# Display the lowest prices with their respective regions and states
print("Top 5 lowest prices with their respective regions and states:")
print(lowest_prices[['Region', 'State', 'Price']])

Top 5 lowest prices with their respective regions and states:
            Region         State    Price
926  Clewiston, FL       Florida  68333.0
925     Macomb, IL     Illinois   80967.0
924      Selma, AL       Alabama  85417.0
923    Parsons, KS        Kansas  90233.0
922  Johnstown, PA  Pennsylvania  97467.0

In [5]:
sqfeet = pd.read_csv('Resources/data/sqfeet.csv')
sqfeet[' Median Home Price'] = sqfeet[' Median Home Price'].replace('[\$,]', '', regex=True).astype(float)
print(sqfeet.head())

        State   Median Home Price   Median Home Size(in square feet)
0     Alabama            165200.0                               1996
1      Alaska            293400.0                               1857
2     Arizona            349300.0                               1942
3    Arkansas            145300.0                               1865
4  California            684800.0                               1778

In [24]:
df = pd.read_csv('Resources/data/sqfeet.csv')

# Clean 'Median Home Price' column
df[' Median Home Price'] = df[' Median Home Price'].replace('[\$,]', '', regex=True).astype(float)

# Sort the DataFrame by ' Median Home Size(in square feet)' in descending order and select the top 5 highest
top_highest_sqfeet = df.sort_values(by=' Median Home Size(in square feet)', ascending=False).head(5)

# Display the top highest square feet with their respective state and median home price
print("Top 5 highest square feet:")
print(top_highest_sqfeet[['State', ' Median Home Price', ' Median Home Size(in square feet)']])

Top 5 highest square feet:
       State   Median Home Price   Median Home Size(in square feet)
43      Utah            458900.0                               2522
5   Colorado            488600.0                               2243
49   Wyoming            272700.0                               2198
11     Idaho            398900.0                               2192
7   Delaware            304500.0                               2164

In [25]:
df = pd.read_csv('Resources/data/sqfeet.csv')

# Clean 'Median Home Price' column
df[' Median Home Price'] = df[' Median Home Price'].replace('[\$,]', '', regex=True).astype(float)

# Sort the DataFrame by ' Median Home Size(in square feet)' in ascending order and select the bottom 5 (lowest)
lowest_sqfeet = df.sort_values(by=' Median Home Size(in square feet)', ascending=True).head(5)

# Display the lowest square feet with their respective state and median home price
print("Top 5 lowest square feet:")
print(lowest_sqfeet[['State', ' Median Home Price', ' Median Home Size(in square feet)']])

Top 5 lowest square feet:
           State   Median Home Price   Median Home Size(in square feet)
10        Hawaii            732000.0                               1229
31      New York            373000.0                               1528
38  Rhode Island            375800.0                               1576
14          Iowa            161700.0                               1604
21      Michigan            207800.0                               1617

In [29]:
# Load the datasets
income = pd.read_csv('Resources/data/income.csv')  # Replace with the correct path
sqfeet = pd.read_csv('Resources/data/sqfeet.csv')
cities = pd.read_csv('Resources/data/cities.csv')

# Merge income and sqfeet DataFrames based on a common column (e.g., 'STATE' in income and 'State' in sqfeet)
merged_data = pd.merge(income, sqfeet, left_on='STATE', right_on='State')

# Merge the merged_data with cities DataFrame based on a common column (e.g., 'City')
merged_data = pd.merge(merged_data, cities, on='State')

# Display the merged data
print("Merged Data:")
print(merged_data.head())

Merged Data:
Empty DataFrame
Columns: [STATE,  1 EARNER,  2 PEOPLE,  3 PEOPLE,  4 PEOPLE *,  Median Home Price,  Median Home Size(in square feet), Region, Acronyms, Price, State]
Index: []

In [30]:
print("Unique values in 'STATE' column of 'income':")
print(income['STATE'].unique())

print("\nUnique values in 'State' column of 'sqfeet':")
print(sqfeet['State'].unique())

print("\nUnique values in 'State' column of 'cities':")
print(cities['State'].unique())

Unique values in 'STATE' column of 'income':
['ALABAMA' 'ALASKA' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'HAWAII' 'IDAHO' 'ILLINOIS'
 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND'
 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA'
 'NEBRASKA' 'NEVADA' 'NEW HAMPSHIRE' 'NEW JERSEY' 'NEW MEXICO' 'NEW YORK'
 'NORTH CAROLINA' 'NORTH DAKOTA' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA'
 'RHODE ISLAND' 'SOUTH CAROLINA' 'SOUTH DAKOTA' 'TENNESSEE' 'TEXAS' 'UTAH'
 'VERMONT' 'VIRGINIA' 'WASHINGTON' 'WEST VIRGINIA' 'WISCONSIN' 'WYOMING']

Unique values in 'State' column of 'sqfeet':
['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'Florida' 'Georgia' 'Hawaii' 'Idaho' 'Illinois'
 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana' 'Maine' 'Maryland'
 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi' 'Missouri' 'Montana'
 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey' 'New Mexico' 'New York'
 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

Unique values in 'State' column of 'cities':
['Massachusetts' 'Colorado' 'Idaho' 'Wyoming' 'California' 'Hawaii'
 'Florida' 'Utah' 'Montana' 'Nevada' 'New Mexico' 'Texas' 'Oregon'
 'Washington' 'Connecticut' 'Arizona' 'New Jersey' 'North Carolina'
 'New York' 'Maryland' 'Tennessee' 'South Dakota' 'South Carolina' 'Maine'
 'Virginia' 'Vermont' 'New Hampshire' 'Alaska' 'Rhode Island' 'Alabama'
 'Delaware' 'Iowa' 'Mississippi' 'Michigan' 'Georgia' 'Arkansas'
 'Wisconsin' nan 'Minnesota' 'Pennsylvania' 'Kentucky' 'Kansas'
 'North Dakota' 'Indiana' 'Ohio' 'Illinois' 'Missouri' 'Oklahoma'
 'Nebraska' 'Louisiana' 'West Virginia' 'New Mexico\n' 'Michigan '
 'Illinois ' 'Texas ' 'West Virginia ']

In [31]:
# Load the datasets
income = pd.read_csv('Resources/data/income.csv')
sqfeet = pd.read_csv('Resources/data/sqfeet.csv')
cities = pd.read_csv('Resources/data/cities.csv')

# Convert 'STATE' column in the 'income' DataFrame to title case
income['STATE'] = income['STATE'].str.title()

# Merge income and sqfeet DataFrames based on a common column (e.g., 'STATE' in income and 'State' in sqfeet)
merged_data = pd.merge(income, sqfeet, left_on='STATE', right_on='State')

# Merge the merged_data with cities DataFrame based on a common column (e.g., 'State')
merged_data = pd.merge(merged_data, cities, on='State')

# Display the merged data
print("Merged Data:")
print(merged_data.head())

Merged Data:
     STATE  1 EARNER  2 PEOPLE  3 PEOPLE  4 PEOPLE *    State  \
0  Alabama    $56598    $67953    $77419      $94659  Alabama
1  Alabama    $56598    $67953    $77419      $94659  Alabama
2  Alabama    $56598    $67953    $77419      $94659  Alabama
3  Alabama    $56598    $67953    $77419      $94659  Alabama
4  Alabama    $56598    $67953    $77419      $94659  Alabama

   Median Home Price   Median Home Size(in square feet)              Region  \
0            $165200                               1996          Daphne, AL
1            $165200                               1996          Auburn, AL
2            $165200                               1996      Huntsville, AL
3            $165200                               1996  Alexander City, AL
4            $165200                               1996      Fort Payne, AL

  Acronyms     Price
0       AL  473000.0
1       AL  381500.0
2       AL  361567.0
3       AL  358667.0
4       AL  308750.0

In [45]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

# Load the datasets
income = pd.read_csv('Resources/data/income.csv')
income['STATE'] = income['STATE'].str.lower()
columns_to_clean = [' 1 EARNER', ' 2 PEOPLE', ' 3 PEOPLE', ' 4 PEOPLE *']
income[columns_to_clean] = income[columns_to_clean].replace('[\$,]', '', regex=True)

sqfeet = pd.read_csv('Resources/data/sqfeet.csv')
sqfeet[' Median Home Price'] = sqfeet[' Median Home Price'].replace('[\$,]', '', regex=True).astype(float)
print(sqfeet.head())

# Load the cities dataset
cities = pd.read_csv('Resources/data/cities.csv')

# Convert 'STATE' column in the 'income' DataFrame to title case
income['STATE'] = income['STATE'].str.title()

# Create a dropdown for selecting the sorting criteria
sorting_dropdown = widgets.Dropdown(
    options=['1 Earner', '2 People', '3 People', '4 People *', 'Region'],
    value='1 Earner',
    description='Sort by:'
)

def update_sorted_data(selected_criteria):
    if selected_criteria == '1 Earner':
        # Sort by 1 earner
        merged_data = pd.merge(income, sqfeet, left_on='STATE', right_on='State')
        merged_data[' 1 EARNER'] = pd.to_numeric(merged_data[' 1 EARNER'], errors='coerce')
        merged_data = merged_data.dropna(subset=[' 1 EARNER'])
        merged_data = merged_data.sort_values(by=' 1 EARNER')
    elif selected_criteria == '2 People':
        # Sort by 2 people
        merged_data = pd.merge(income, sqfeet, left_on='STATE', right_on='State')
        merged_data[' 2 PEOPLE'] = pd.to_numeric(merged_data[' 2 PEOPLE'], errors='coerce')
        merged_data = merged_data.dropna(subset=[' 2 PEOPLE'])
        merged_data = merged_data.sort_values(by=' 2 PEOPLE')
    elif selected_criteria == '3 People':
        # Sort by 3 people
        merged_data = pd.merge(income, sqfeet, left_on='STATE', right_on='State')
        merged_data[' 3 PEOPLE'] = pd.to_numeric(merged_data[' 3 PEOPLE'], errors='coerce')
        merged_data = merged_data.dropna(subset=[' 3 PEOPLE'])
        merged_data = merged_data.sort_values(by=' 3 PEOPLE')
    elif selected_criteria == '4 People *':
        # Sort by 4 people
        merged_data = pd.merge(income, sqfeet, left_on='STATE', right_on='State')
        merged_data[' 4 PEOPLE *'] = pd.to_numeric(merged_data[' 4 PEOPLE *'], errors='coerce')
        merged_data = merged_data.dropna(subset=[' 4 PEOPLE *'])
        merged_data = merged_data.sort_values(by=' 4 PEOPLE *')
    elif selected_criteria == 'Region':
        # Sort by region
        merged_data = pd.merge(income, sqfeet, left_on='STATE', right_on='State')
        merged_data = pd.merge(merged_data, cities, on='State')
        merged_data = merged_data.sort_values(by='Region')
    
    # Drop the 'State' column
    merged_data.drop('State', axis=1, inplace=True)
    
    # Display the sorted data
    display(merged_data)

# Set up the event handler for the dropdown
widgets.interactive(update_sorted_data, selected_criteria=sorting_dropdown)

        State   Median Home Price   Median Home Size(in square feet)
0     Alabama            165200.0                               1996
1      Alaska            293400.0                               1857
2     Arizona            349300.0                               1942
3    Arkansas            145300.0                               1865
4  California            684800.0                               1778

interactive(children=(Dropdown(description='Sort by:', options=('1 Earner', '2 People', '3 People', '4 People …

In [47]:
# Load the cities dataset
cities = pd.read_csv('Resources/data/cities.csv')

# Get unique state values from the 'State' column
unique_states = ['All'] + sorted(cities['State'].dropna().unique().tolist())
# Load the cities dataset
cities = pd.read_csv('Resources/data/cities.csv')

# Get unique state values from the 'State' column
unique_states = ['All'] + sorted(cities['State'].dropna().unique().tolist())

# Create a dropdown for selecting a state from cities.csv
state_dropdown = widgets.Dropdown(
    options=unique_states,
    value='All',
    description='Select a State:'
)

def update_sorted_data(selected_state):
    if selected_state == 'All':
        # If 'All' is selected, display the original cities data only once
        display(cities.drop_duplicates())
    else:
        # Display cities data for the selected state only once
        state_cities = cities[cities['State'] == selected_state].drop_duplicates()
        display(state_cities)

# Set up the event handler for the state dropdown
widgets.interactive(update_sorted_data, selected_state=state_dropdown)

interactive(children=(Dropdown(description='Select a State:', options=('All', 'Alabama', 'Alaska', 'Arizona', …