In [1]:
# Import the dependencies.
from pathlib import Path
from sqlalchemy import create_engine
import pandas as pd
import os
import numpy as np

In [7]:
income = pd.read_csv('resources/income.csv')
income.head(52)

                   STATE  1 EARNER   2 PEOPLE   3 PEOPLE  4 PEOPLE *
0                ALABAMA    $56598     $67953     $77419      $94659
1                 ALASKA    $76191     $89932    $113035     $121062
2                ARIZONA    $64172   \t$80249   \t$90193   \t$104143
3               ARKANSAS    $51164   \t$63835   \t$74475    \t$86039
4             CALIFORNIA  \t$75235   \t$93175  \t$104785     $122707
5               COLORADO    $75710   \t$98365  \t$113822     $134146
6            CONNECTICUT    $81909  \t$100639    $121958     $142596
7               DELAWARE    $71279   \t$83174  \t$103598     $122908
8   DISTRICT OF COLUMBIA    $86370    $146440    $146440     $204686
9                FLORIDA    $60429     $74131     $83396     $100476
10               GEORGIA    $60490     $77183     $87742     $103638
11                HAWAII  \t$78788   \t$92578  \t$104704     $125621
12                 IDAHO  \t$62738   \t$77719   \t$87960    \t$97212
13              ILLINOIS    $67102     $84892    $101951     $122289
14               INDIANA    $60725     $75774     $89800     $102605
15                  IOWA    $60971     $81351     $95739     $115320
16                KANSAS  \t$61158     $79752     $88271     $113151
17              KENTUCKY    $55971     $66902     $75700      $94937
18             LOUISIANA    $53028     $64762     $73393      $91366
19                 MAINE  \t$61440   \t$79014   \t$95531   \t$119122
20              MARYLAND  \t$80002  \t$103083    $122385     $151613
21         MASSACHUSETTS  \t$80467  \t$100535    $127172     $162422
22              MICHIGAN  \t$63380   \t$75374   \t$93873   \t$111606
23             MINNESOTA  \t$71643   \t$90946  \t$114267   \t$141324
24           MISSISSIPPI  \t$48603   \t$60981   \t$70950    \t$86573
25              MISSOURI  \t$61165   \t$75277   \t$89515   \t$109302
26               MONTANA  \t$64836   \t$77872   \t$84019   \t$109438
27              NEBRASKA  \t$65223   \t$83790   \t$99845   \t$115269
28                NEVADA  \t$63473   \t$75983   \t$86618    \t$95950
29         NEW HAMPSHIRE  \t$83877   \t$98248  \t$136886   \t$151546
30            NEW JERSEY  \t$83898   \t$99056  \t$122540   \t$155510
31            NEW MEXICO  \t$54193   \t$69208   \t$71283    \t$82110
32              NEW YORK  \t$68814   \t$84958  \t$103444   \t$126167
33        NORTH CAROLINA  \t$60072   \t$74849   \t$87369   \t$107128
34          NORTH DAKOTA  \t$70125   \t$90049   \t$93240   \t$124290
35                  OHIO  \t$61955   \t$76131   \t$90912   \t$110062
36              OKLAHOMA  \t$55358   \t$69182   \t$77166    \t$90043
37                OREGON  \t$69653   \t$84418  \t$101989   \t$118493
38          PENNSYLVANIA  \t$66454   \t$80321  \t$100888   \t$122083
39          RHODE ISLAND  \t$70858   \t$90196    $109514   \t$130123
40        SOUTH CAROLINA  \t$59511   \t$72416   \t$82114   \t$100609
41          SOUTH DAKOTA  \t$57253   \t$82039   \t$92794   \t$104379
42             TENNESSEE  \t$57246   \t$71828   \t$85014    \t$95796
43                 TEXAS  \t$60040   \t$77611   \t$87228   \t$101753
44                  UTAH  \t$72772   \t$81900  \t$102941   \t$111065
45               VERMONT  \t$69936   \t$86394  \t$103763   \t$126550
46              VIRGINIA  \t$75376   \t$93328  \t$111017   \t$134252
47            WASHINGTON  \t$83121   \t$96890  \t$116345   \t$138487
48         WEST VIRGINIA  \t$56420   \t$62974   \t$81964    \t$90258
49             WISCONSIN  \t$63146   \t$81854   \t$99261   \t$118441
50               WYOMING  \t$65457   \t$82531   \t$93651   \t$104487

In [2]:
# Load the CSV file into a Pandas DataFrame
csv_file_path = 'income.csv'  # Update with the correct path to your CSV file
df = pd.read_csv(csv_file_path="Resource\income.csv")

# Specify the SQLite database file path
database_path = 'income.db'  # Change to your desired database file name

# Create an SQLAlchemy engine and connect to the SQLite database
engine = create_engine(f'sqlite:///{database_path}')

# Convert the DataFrame to a SQLite table (replace if exists)
df.to_sql('income_data', con=engine, if_exists='replace', index=False)

TypeError: read_csv() got an unexpected keyword argument 'csv_file_path'