In [1]:
# Import the dependencies.
from pathlib import Path
from sqlalchemy import create_engine
import pandas as pd
import os
import numpy as np
import sqlite3

In [4]:
print("Column names in the DataFrame:")
print(income.columns)

Column names in the DataFrame:
Index(['STATE', ' 1 EARNER', ' 2 PEOPLE', ' 3 PEOPLE', ' 4 PEOPLE *'], dtype='object')

In [3]:
income = pd.read_csv('Resources/data/income.csv')
income['STATE'] = income['STATE'].str.lower()
columns_to_clean = [' 1 EARNER', ' 2 PEOPLE', ' 3 PEOPLE', ' 4 PEOPLE *']
income[columns_to_clean] = income[columns_to_clean].replace('[\$,]', '', regex=True)
income.head(52)
db_path = "Resources\project3.sqlite"
conn = sqlite3.connect(db_path)
income.to_sql('income_data', conn, index=False, if_exists='replace', dtype={'STATE':'NVARCHAR PRIMARY KEY'})
conn.close()

In [12]:
cities = pd.read_csv('Resources/data/cities.csv')
print(cities.head())
db_path = "Resources\project3.sqlite"
conn = sqlite3.connect(db_path)
cities.to_sql('cities_data', conn, index=False, if_exists='replace',dtype={'Region':'NVARCHAR PRIMARY KEY'})
conn.close()

               Region Acronyms      Price          State
0  Vineyard Haven, MA       MA  2366667.0  Massachusetts
1         Edwards, CO       CO  1978833.0       Colorado
2          Hailey, ID       ID  1545000.0          Idaho
3         Jackson, WY       WY  1496333.0        Wyoming
4     Santa Maria, CA       CA  1451750.0     California

In [8]:
print(sqfeet.columns)

Index(['State', ' Median Home Price', ' Median Home Size(in square feet)'], dtype='object')

In [7]:
sqfeet = pd.read_csv('Resources/data/sqfeet.csv')
sqfeet[' Median Home Price'] = sqfeet[' Median Home Price'].replace('[\$,]', '', regex=True).astype(float)
print(sqfeet.head())
db_path = "Resources\project3.sqlite"
conn = sqlite3.connect(db_path)
sqfeet.to_sql('sqfeet_data', conn, index=False, if_exists='replace', dtype={'State': 'TEXT PRIMARY KEY'})
conn.close()

        State   Median Home Price   Median Home Size(in square feet)
0     Alabama            165200.0                               1996
1      Alaska            293400.0                               1857
2     Arizona            349300.0                               1942
3    Arkansas            145300.0                               1865
4  California            684800.0                               1778

In [9]:
house_price_file_path = "Resources\data\house_price_data.xlsx"
house_price_df = pd.read_excel(house_price_file_path)
db_path = "Resources\project3.sqlite"
conn = sqlite3.connect(db_path)
house_price_df.to_sql('house_data', conn, index=False, if_exists='replace')
conn.close()